<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="developmentServer" type="MbUnit.Web.ConfigurationSectionHandler, MbUnit.Web" />
  </configSections>
  <developmentServer>
    <sitePath>..\..\..\..\SampleWebApplication</sitePath>
  </developmentServer>
</configuration>