<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="webTestServer" type="MbUnit.Web.ConfigurationSectionHandler, MbUnit.Web" />
  </configSections>
  <webTestServer>
    <server>development server</server>
    <sitePath>..\..\..\..\SampleWebApplication</sitePath>
  </webTestServer>
</configuration>